{% extends 'portfolio/base.html' %} {% block content %}
<!-- <h1> Ishrak's Portfolio </h1> !-->

{% load static %}

<!-- <a href = "{% url 'blog:all_blogs' %}">Blogs</a> !-->
<!-- <a href = "{% static 'portfolio/slip.pdf' %}" > Resume </a> !-->
<div class="row justify-content-center my-3 text-center">
  <div class="col-5">
    <img
      src="{% static 'portfolio/imagewall.jpg' %}"
      class="img-fluid"
      width="400"
      height="350"
    />
    <h2>T.M. Ishrak Hussain</h2>
  </div>
</div>
<br />

<hr />

<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">
    <div class="card" style="width: 18rem">
      <img
        class="img-fluid img-thumbnail rounded"
        style="height: 200px; width: 100%"
        src="{{ project.image.url }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{ project.description|safe}}</p>
        <a href="{{ project.url}}" class="btn btn-warning" target="blank"
          >See Project</a
        >
      </div>
    </div>
  </div>
  {% endfor %} {% endblock %}
</div>
